*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 10px;
}
.body{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.divv{
    width: 49%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.divv1{
    width: 49%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.div{
    background: #18186e;
}
.h{
    font-size: 50px;
    color: white;
    padding: 2px;
}
.div1{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #8b7fda;
    padding: 20px;
}
.div2{
    background: white;
}
.div3{
    background: #010544;
    margin-bottom: 5px;
}
.h1{
    font-size: 26px;
    color: #5650a6;
    text-transform: capitalize;
    padding: 2px;
}
.div4{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px 10px;
}
.div5{
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
}
.label{
    text-transform: capitalize;
    font-size: 20px;
    background: #e2da74;
    width: 30%;
    padding: 2px;
}
.pp{
    text-transform: capitalize;
    font-size: 20px;
    background: #e2da74;
    width: 30%;
    padding: 2px;
}
.select{
    text-transform: capitalize;
    font-size: 20px;
    background: #e2da74;
    width: 30%;
    padding: 2px;
    outline: none;
}
.input{
    font-size: 18px;
    background: #e2da74;
    width: 69%;
    outline: none;
    border: none;
    padding: 2px;
    /* text-overflow: inherit; */
}
.btn{
    padding: 0px 10px;
    font-size: 20px;
    cursor: pointer;
    /* margin-left: 10px; */
    margin-top: 20px;
}